<script>
import _, {isNumber} from "lodash";
export default {
  name: "AutoSuggestionComponent",
  methods: {isNumber},
  props: {
    allDealers: Array,
    suggestions: Array,
    changeShowResults: Function,
    search: String,
  },
  data() {
    return {
      showSuggestion: this.showSuggestion,
      showResults: this.showResults,
    };
  },
  computed: {
    returnSlicedSuggestions() {
      if(!Number(this.search)) {
        let cloneSuggestions = _.cloneDeep(this.suggestions);
        const seenPlzs = new Set();
        const uniqueArrayObj = cloneSuggestions.filter((obj) => {
          const plz = obj.address.plz;
          return !seenPlzs.has(plz) && seenPlzs.add(plz);
        });
        return uniqueArrayObj.slice(0, 3);
      } else {
        let cloneSuggestions = _.cloneDeep(this.suggestions);
        const seenCities = new Set();
        const uniqueArrayObj = cloneSuggestions.filter((obj) => {
          const plz = obj.address.city;
          return !seenPlzs.has(plz) && seenPlzs.add(plz);
        });
        return uniqueArrayObj.slice(0, 3);
      }
    }
  },
}
</script>
<template>
  <div class="auto-suggestion-container">
    <div v-if="!this.suggestions.length">
      <h4 class="no-suggestions"> < No Matches Found > </h4>
    </div>
    <div @click="this.$emit('changeShowResults', dealer.address.plz)" class="suggestion-flex-item" v-for="dealer in this.returnSlicedSuggestions" v-if="this.returnSlicedSuggestions.length" :key="dealer.dealerNumber">
        <p>{{dealer.address.plz}} {{dealer.address.city}}</p>
        <div class="divider"></div>
    </div>
  </div>
</template>

<style scoped>
.auto-suggestion-container {
  z-index: 1000;
  width: 70%;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  flex-direction: column;
  height: min-content;
  padding: 10px 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 5px 10px 1px #a5a5a5;
  clip-path: inset(0 -10px -10px);
  background-color: white;
  transition: ease-in-out 300ms;
}
.divider {
  width: 80%;
  height: 1px;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}


.no-suggestions {
  color: #757575;
  width: 100%;
  text-align: center;
}

.suggestion-flex-item{
  display: flex;
  flex-direction: column;
}

.suggestion-flex-item:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}
</style>
