<script>

import axios from "axios";
import AutoSuggestionComponent from "@/components/AutoSuggestionComponent.vue";
import Results from "@/components/Results.vue";

export default {
  name: "DealerSearchComponent",
  components: {Results, AutoSuggestionComponent},
  data() {
    return {
      searched: '',
      search: '',
      allDealers: '',
      showResults: false,
      results: [],
      showSuggestions: false,
      suggestions: this.allDealers,
    };
  },
  computed: {

  },
  methods: {
    // Main function to show suggestions and update search input
    changeShowResults(dealer) {
      if(dealer){
        this.search = dealer
        this.filterByZip()
      }
      this.showSuggestions = false;
      this.showResults = true;
      this.searched = this.search;
      this.search = '';
      this.results = this.suggestions;
    },
    //Toggle suggestions component based on search length
    toggleShowSuggestions() {
      return this.showSuggestions = this.search.length >= 1;
    },
    //Filter search suggestions by Zip Code
    filterByZip(){
      let reloadedSuggestions = this.allDealers.filter((dealer) => {
        try {
          if (dealer.address.plz.startsWith(this.search)) {
            return dealer;
          }
        } catch(err) {
          return console.error(err);
        }
      })
      return this.suggestions = reloadedSuggestions;
    },
    //Filter search suggestions by city
    filterByCity(){
      let reloadedSuggestions = this.allDealers.filter((dealer) => {
        try {
          if (dealer.address.city.toLowerCase().startsWith(this.search.toLowerCase())) {
            return dealer;
          }
        } catch(err) {
          return console.error(err);
        }
      })
      return this.suggestions = reloadedSuggestions;
    },
    // Get all dealers from MongoDB
    getDealers(){
      axios.get('http://localhost:3005/getAllDealers')
          .then((res) => {
            this.allDealers = res.data[0].allDealers
            this.suggestions = res.data[0].allDealers
          })
    }
  },
  watch: {
    //Watch for search data property update and filter input suggestions accordingly
    search(){
      this.toggleShowSuggestions()
      if(Number(this.search[0])) {
        this.filterByZip()
      } else {
        this.filterByCity();
      }
    }
  },
  async mounted() {
    await this.getDealers();
  },
  updated() {
  },
}
</script>

<template>
  <div class="dealer-search-container">
    <div class="search-container">

      <!-- Search by ZipCode or City name container -->
      <div class="search-field-container">
        <input @keydown.enter="changeShowResults()" placeholder="Begin typing City or Zip Code" class="search-field" v-model="this.search"/>

        <!-- Search Suggestions Component -->
        <AutoSuggestionComponent
            v-if="showSuggestions"
            :allDealers="this.allDealers"
            :suggestions="this.suggestions"
            @changeShowResults="changeShowResults"
        />

        <!-- Search button (can also be triggered by @keydown.enter while search input is active -->
        <button @click="changeShowResults()" class="search-button">Search</button>
      </div>
    </div>
    <div class="divider"></div>
    <Results v-if="this.showResults" :results="this.results" :searched="this.searched" />
  </div>

</template>

<style scoped>

/* Dealer Search Form */
.dealer-search-container {
  width: 800px;
  height: min-content;
  background-color: white;
  box-shadow: 0 2px 10px 1px #cecece;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 1rem 0 1rem;
  position: relative;
  max-height: 80vh;
}

.search-button {
  position: absolute;
  right: 15%;
  top: 10px;
  border: 0;
  background-color: #334677;
  color: white;
  padding: 3px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  height: 120px;
}

::placeholder {
  color: #a5a5a5;
}

.search-field-container {
  position: relative;
  margin-top: 3rem;
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.search-field {
  width: 70%;
  border: none;
  box-shadow: 1px 3px 10px 1px #a5a5a5;
  padding: 10px 10px;
  outline: none;
  font-size: 16px;
}

.divider {
  width: 80%;
  height: 1px;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}
</style>
