<script>
import * as xlsx from "xlsx";
import _ from "lodash";
export default {
  name: "Results",
  props: ['results', 'searched'],
  data() {
    return {
      initialResults: [],
    };
  },
  computed: {
  },
  methods: {
    // Flatten results object so it can be used with exporting / downloading xlsx file
      flattenObject(results){
      const flattened = {};

      // Loop over each key in each dealer in results
      Object.keys(results).forEach((key) => {
        const value = results[key]

        // Check on deepness then flatten results
        if (typeof value === 'object' && value !== null) {
          Object.assign(flattened, this.flattenObject(value))
        } else {
          //Add object to dealer obj
          flattened[key] = value
        }
      })

      return flattened
    },
    showMore: function() {
      let showMoreQuantity = 10
      let scrollContainer = this.$refs.scrollContainer

      for(let i = this.initialResults.length; i < this.results.length && showMoreQuantity != 0; i++){
        this.initialResults.push(this.results[i])
        showMoreQuantity--
      }
      console.log(this.initialResults.length)
      let scrollHeight = scrollContainer.scrollHeight + 200
      scrollContainer.scroll(0, scrollHeight);
    },
    exportAsExcel: function() {

      // Deep copy to avoid any mutation
      const resultsCopy = _.cloneDeep(this.results)

      // Run flatten on each dealer in result
      const flattenedArray = resultsCopy.map((item) => this.flattenObject(item))

      // Excel Export button logic
      const XLSX = xlsx
      const workbook = XLSX.utils.book_new();
      const worksheet = XLSX.utils.json_to_sheet(flattenedArray)
      console.log(flattenedArray);

      // Set Column Width
      worksheet['!cols'] = [
        { width: 25 }, // city
        { width: 10 }, // plz
        { width: 25 }, // street
        { width: 15 }, // dealerNumber
        { width: 20 }, // email
        { width: 20 }, // fax
        { width: 12 }, // lat
        { width: 12 }, // long
        { width: 30 }, // name
        { width: 15 }, // phone
        { width: 37 }, // website
        { width: 10 }, // dealer
      ];

      // Height array for height to rows starting with the header
      const heightArray = [
        {'hpt': 20}
      ]

      // Loop over flattenedResultsArray and push into height array
      for(let i = 0; i < flattenedArray.length; i++) {
        heightArray.push({ 'hpt':20 })
      }

      // Pass height array into worksheet row styling
      worksheet['!rows'] = heightArray

      // Create worksheet and add it to workbook -> then write file and provide user with default save popup window
      XLSX.utils.book_append_sheet(workbook, worksheet, "Dealers");
      XLSX.writeFile(workbook, "dealersResults.xlsx", { compression: true });

    }
  },
  mounted() {
    if(this.results.length > 10){
      for(let i = 0; i < 10 ; i++ ){
        this.initialResults.push(this.results[i])
        console.log(this.results.length);
      }
    } else { this.initialResults = this.results}
  },
}
</script>

<template>
  <div class="heading-results">
    <p id="results-found">{{this.results.length}} Results Found for <strong id="black">{{this.searched}}</strong></p>
    <div id="export" @click="this.exportAsExcel()">Export all as .xlsx</div>
  </div>

  <div ref="scrollContainer" class="results-container">
    <!-- Export as .xlsx button -->


    <!-- Results Info -->
    <div  class="results-flex-item" v-for="dealer in this.initialResults" v-if="this.results.length" :key="dealer.dealerNumber">
      <h3 id="dealer-name">{{dealer.name}}</h3>
      <p id="dealer-specific-info"><strong>{{dealer.dealer}}</strong>#{{dealer.dealerNumber}}</p>

      <!-- Contact Container -->
      <div class="info">
        <div>
          <h4>Contact Info:</h4>
          <p><strong>Phone:</strong> {{dealer.phone}}</p>
          <p><strong>Fax:</strong> {{dealer.fax}}</p>
          <p><u>{{dealer.email}}</u></p>
        </div>
        <!-- Address Container -->
        <div>
          <h4>Address:</h4>
          <p>{{dealer.address.street}}</p>
          <p>{{dealer.address.plz}} {{dealer.address.city}} DE</p>'
        </div>
      </div>
    </div>
  </div>
  <button id="showMoreButton" v-if="this.results.length > 10" @click="this.showMore">Show More</button>


  <!-- No Matches -->
  <div v-if="!results.length" class="no-results">
    < No Matches Found >
  </div>
</template>

<style scoped>
.results-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  clip-path: inset(0 -10px -10px);
  background-color: white;
  transition: ease-in-out 300ms;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.heading-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem .5rem;
}

/* width */
.results-container::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.results-container::-webkit-scrollbar-track {
  background: whitesmoke;
  border-radius: 10px;
}

/* Handle */
.results-container::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 10px;
}

/* Handle on hover */
.results-container::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.results-flex-item {
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.results-flex-item:last-child {
  border: none;
}

.results-flex-item h4 {
  display: list-item;
  margin: 0 0 1rem 2rem;
}
.results-flex-item p {
  font-size: 14px;
  color: #535353;
  margin-left: 2rem;
}
#results-found {
  font-size: 12px;
  color: #535353;
  align-self: flex-start;
  margin-left: 2rem;
}

#black {
  color: black;
}
.no-results {
  color: #757575;
  width: 100%;
  text-align: center;
  margin: 3rem 0;
}
#dealer-name {
  color: #334677;
}

#showMoreButton {
  cursor: pointer;
}
#export {
  padding: 5px 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #1c471c;
  color: white;
  right: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2rem;
}

#dealer-specific-info {
  position: absolute;
  color: #535353;
  top: 4px;
  right: 0;
  text-transform: uppercase;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
</style>
