
#app {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #e8edf8;
  font-family: SansSerif, serif;
}

root, html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --primary-color: #334677;
  --border-radius: 10px;
}