<script setup>
import DealerSearchComponent from './components/DealerSearchComponent.vue'




</script>

<template>
  <header>
    <h1 id="header-title">Dealer Search</h1>
  </header>
  <main class="main-container">
    <Suspense>
      <DealerSearchComponent />
      <template #fallback>
        <h1> < LOADING > </h1>
      </template>
      <template #error>
        <h1> < Error Loading Page > </h1>
      </template>
    </Suspense>
  </main>
</template>

<style scoped>
@import './assets/main.css';
header {
  padding: 0;
  margin: 0;
}
#header-title {
  background-color: var(--primary-color);
  padding: 10px 20px;
  margin: 0;
  color: white;
}

  .main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
</style>
